#texto{
    text-align: center;
}
body.carregando{
    background-size: cover;  
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    align-items: center;
    
} 
body{
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: rgb(195, 190, 190) ;
}
#div1{
    color:black;
    text-align: center;
    font-family: "Roboto Slab", serif; 
    font-weight: 700;                 
    font-optical-sizing: auto;       
    font-style: normal; 
} 
#div1 > img{
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#fechar{
    position: fixed;
    top: 10px; 
    right: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
p{
    justify-content: center;
    display:flex;
    text-align: center;  font-family: "Roboto Slab", serif; 
    color: rgb(255, 255, 255);
    font-optical-sizing: auto;       
    font-style: normal; 
    background-color: black;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    width: 300px;
}
@media screen and ( min-width: 769px){
    .carregando{
    background: url(bc-nilton-santos.webp);
    display: grid;
    grid-template-columns:  auto auto;
    justify-items: end;
    align-content: center;

    }
    #div1 > h1{
        color:white;
        margin-bottom: 30px;
        font-size: 1.5rem;
        padding: 20px;
    }
    #div1 > img{
        height: px;
    }
    #div2 {
        padding-top: 100px;
    }
    #fechar{
        padding: 10px;
    }
    #fechar:hover {
        transform: scale(1.1);
        background-color: rgb(195, 190, 190) ;
}
}